@charset "utf-8";

/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

.slider {
    width: 100%;
    height: 480px;
    border: 5px solid black;
    position: relative;
    overflow: hidden;
}

.slider .list {
    list-style: none;
    height: 480px;
    position: absolute;
}

.slider .list li {
    float: left;
}

.slider .list li img {
    width: 1349px;
    height: 480px;
    display: block;
    transition: all 2s linear 0s;
}

.slider .list li img:hover {
    transform: scale(1.1)
}

.slider .btn {
    width: 30px;
    height: 30px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    z-index: 999;
    top: 50%;
    cursor: pointer;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.slider .pagination {
    position: absolute;
    z-index: 9999;
    padding: 10px;
    background: rgba(255, 255, 255, 0);
    padding-left: 0;
    left: 44%;
    bottom: 0;
    cursor: pointer;
}

.slider .pagination .bullet {
    list-style: none;
    float: left;
    width: 30px;
    height: 30px;
    background: #86685e;
    margin-left: 15px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: large;
}

.slider .pagination .focus {
    text-align: center;
    height: 30px;
    line-height: 30px;
    background: #d3161b;
    color: #fff;
}